Header Set Access-Control-Allow-Origin "*"

php_flag display_errors on
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

RewriteEngine On    # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^tasks/([0-9]+)$ controller/tasks.php?taskid=$1 [L]
RewriteRule ^tasks/complete$ controller/tasks.php?completed=Y [L]
RewriteRule ^tasks/imcomplete$ controller/tasks.php?completed=N [L]
RewriteRule ^tasks/page/([0-9]+)$ controller/tasks.php?page=$1 [L]
RewriteRule    ^tasks$    controller/tasks.php  [L]    # Handle task requests


RewriteRule ^users$ controller/user.php [L]

RewriteRule ^sessions$ controller/sessionsController.php [L]

RewriteRule    ^sessions/([0-9]+)$          controller/sessionsController.php?sessionid=$1    [L] 


# Images
RewriteRule    ^tasks/([0-9]+)/images/([0-9]+)/attributes$    controller/ImagesController.php?taskid=$1&imageid=$2&attributes=true    [L]    # Handle image id requests for image metadata
RewriteRule    ^tasks/([0-9]+)/images/([0-9]+)$               controller/ImagesController.php?taskid=$1&imageid=$2    [L]    # Handle image id requests
RewriteRule    ^tasks/([0-9]+)/images$                        controller/ImagesController.php?taskid=$1    [L]    # Handle image requests
